<template>
    <div>
        <input class="uk-input" type="text" :name="name" :id="name" :placeholder=name>
    </div>
</template>

<script>
    export default {
        name: "InputField",
        props: {
            name: String
        }
    }
</script>

<style scoped>
    input {
        margin: 20px;
    }
</style>