<template>
    <div class="page">
        <legend class="uk-legend">Longest Common Subsequence</legend>
        <form class="uk-form-horizontal">
            <InputField name="input1"/>
            <InputField name="input2"/>
            <InputField name="input3"/>
            <input class="uk-button uk-button-default" type="button" placeholder="Submit" value="Submit" v-on:click="solve">
            <br>
            <label class="uk-legend" id="result" hidden>Result: <p id="result-value">{{result}}</p></label>
        </form>
    </div>
</template>

<script>
    import InputField from "./InputField";
    import axios from 'axios';
    export default {
        name: 'LcsPage',
        components: {InputField},
        data() {
            return {
                result: ""
            }
        },
        methods: {
            solve: function () {
                const res = document.getElementById("result");
                const in1 = document.getElementById("input1");
                const in2 = document.getElementById("input2");
                const in3 = document.getElementById("input3");

                axios.post("http://lcs.host:8080/lcs/solve", {
                    input1: in1.value,
                    input2: in2.value,
                    input3: in3.value
                }).
                    then(res => {
                        this.result = res.data.result;
                }).catch(err => console.log(err));

                res.hidden = false;
            }
        }
    }
</script>

<style scoped>
    .page {
        margin: auto;
        width: 30%;
    }
</style>
