<template>
    <div id="app">
        <img alt="Vue logo" src="./assets/logo.png">
        <LcsPage/>
    </div>
</template>

<script>
    import LcsPage from './components/LcsPage.vue'

    export default {
        name: 'App',
        components: {
            LcsPage: LcsPage
        }
    }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
